
<div class="navbar shadow-sm navbar-expand-sm navbar-light navbar-lewagon">
  <div class = "d-flex justify-content-left">
  <%= link_to root_path, class: "navbar-brand" do %>
  <%= image_tag "logo.png" %>
  <% end %>

    <% if controller_name === "pages" %>
      <h2 class="logo-type"> CarsBnB </h2>
  </div>
  <div>
    <% else %>
      <%= form_tag cars_path, class: "search", method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Enter location"%>
        <div class="search-button">
         <%= submit_tag "Search", class: "search-btn"%>
        </div>
      <% end %>
    <% end %>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%if user_signed_in? == true %>
            <li id="welcome-message">Welcome <%= current_user.first_name %> </li>
            <li><%= link_to "Rent your car", new_user_car_path(current_user), class: "nav-button" %> </li>
           <% else %>
           <li> <%= link_to "Sign up", new_user_registration_path(@user_id), class: "nav-link" %> </li>
           <li> <%= link_to "Log in", new_user_session_path(@user_id), class: "nav-link" %> </li>
           <li> <%= link_to "Rent your car", new_user_session_path(@user_id), class: "nav-button" %> </li>
           <%end%>
      </li>
      <%if user_signed_in? == true %>
        <li class="nav-item dropdown">
          <%= image_tag "burger_menu.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Dashboard", reservations_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      <% else %>
          <%=  %>
       <% end %>
        </div>
      </li>
    </ul>
  </div>
</div>


