<div class="container" style="min-height: 75vh;">
  <div class="row">
    <div class="col-12 col-md-6">
      <h2>Your reservations</h2>
      <%= link_to "Refresh", reservations_path%>
      <ul class="list-group">
      <% @user_reservations .each do |reservation| %>
      <li class="list-group-item"><%="#{Car.find(reservation.car_id).model} / #{Car.find(reservation.car_id).brand} #{reservation.start_date} - #{reservation.end_date}: #{reservation.status}"%>
      <% if reservation.status != "cancelled"%>
      <%= link_to "cancel", cancel_path(reservation.id), {method: :patch}%>
      </li>
      <% end %>
      <% end %>
      </ul>
    </div>
  <div class="col-12 col-md-6">
      <h2>Your car retals</h2>
      <% @user_cars.each do |car| %>
      <ul class="list-group">
      <% @reservations.each do |booking| %>
      <% if booking.car_id == car.id %>
      <li class="list-group-item"><%="#{car.brand} - #{car.model}: #{booking.start_date} - #{User.find(booking.user_id).email} #{booking.end_date}: #{booking.status}" %>
      <% if booking.status == "pending" %>
      <%= link_to "confirm", confirm_path(booking.id), {method: :patch}%>
      <%= link_to "reject", reject_path(booking.id), {method: :patch}%>
      <% end %>
      </li>
      <% end %>
      <% end %>
      <% end %>
      </ul>
  </div>
</div>
</div>


