<div class="container" style="min-height: 75vh;">
  <div class="row">
    <div class="col-12 col-md-6">
      <h2>Your reservations</h2>
      <%= link_to "Refresh", reservations_path%>
      <% @user_reservations .each do |reservation| %>
      <div class="car-reservation-card">
        <img src= <%= "#{Car.find(reservation.car_id).photo}" %>>
        <div class="car-reservation-info">
          <h2> <%= "#{Car.find(reservation.car_id).model} / #{Car.find(reservation.car_id).brand}" %></h2>
          <p><%="#{reservation.start_date} - #{reservation.end_date}"%></p>
          <p><%="#{reservation.status}"%></p>
          <p>
            <% if reservation.status != "cancelled"%>
            <%= link_to "cancel", cancel_path(reservation.id), {method: :patch}%>
            <% end %>
          </p>
        </div>
      </div>
      <% end %>
    </div>


  <div class="col-12 col-md-6">
    <h2>Your car rentals</h2>
    <% @user_cars.each do |car| %>
      <% @reservations.each do |booking| %>
        <% if booking.car_id == car.id %>
          <div class="car-reservation-card">
            <img src= <%= "#{car.photo}" %>>
            <div class="car-reservation-info">
              <h2><%="#{car.brand} - #{car.model}" %></h2>
              <p><%="#{User.find(booking.user_id).email}" %></p>
              <p><%="#{booking.start_date} - #{booking.end_date}" %></p>
              <p><%="#{booking.status}" %></p>
                <% if booking.status == "pending" %>
                  <%= link_to "confirm", confirm_path(booking.id), {method: :patch}%>
                  <%= link_to "reject", reject_path(booking.id), {method: :patch}%>
                <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
</div>
