<div class="container">
  <div class="row justify-content-center">
    <div class="card-trip col-8 border pt-1">
      <div class="d-flex justify-content-between" >
        <div class="mt-3">




  <h1>Thanks for the reservation!</h1>
  <h2>Your reservations now pending to review</h2>
<p><%= @reservation.start_date%></p>
<p><%= @reservation.end_date%></p>
<p><%= @reservation.user_id%></p>
<p><%= @reservation.car_id%></p>
<p><%= @reservation.id%></p>
</div>
</div>
</div>
</div>
</div>
