<div class="web-container">
  <h1 class="h1-results"><%= Car.count %> cars in Barcelona</h1>
  <div class="cars-list">
    <% @cars.each do |car|  %>
      <div class="car-card">
        <%= link_to car_path(car) do%>
        <%= cl_image_tag car.photo %>
        <div class="car-price">
          <p><%= car.brand %>  <%= car.model %></p>
          <p>€ <%= car.price %> / day</p>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
