<div class="container" style="min-height: 75vh;">
  <div class="row justify-content-center">
    <div class="col-xs-12 col md-4">
      <h2 class="text-center">Upload your car</h2>
      <%= simple_form_for([@user, @car]) do |c| %>
        <div class="form-inputs col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto form p-4">
          <%= c.input :brand %>
          <%= c.input :model %>
          <%= c.input :price %>
          <%= c.input :address %>
          <%= c.input :description %>
          <%= c.input :photo %>
          <%= c.input :photo_cache, as: :hidden %>
          <div class="form-actions">
          <%= c.button :submit, "Submit", class: "main-cta-login1" %>
        </div>
          <% end %>
    </div>
  </div>
</div>





