<h1>Upload your car</h1>

<%= simple_form_for([@user, @car]) do |c| %>
<%= c.input :brand %>
<%= c.input :model %>
<%= c.input :price %>
<%= c.input :address %>
<%= c.input :description %>
<%= c.input :photo %>
<%= c.input :photo_cache, as: :hidden %>
<%= c.submit  %>
<% end %>



