<div class="container">
  <div class="row justify-content-center">
    <div class="card-trip col-8 border pt-1">
      <div class="d-flex justify-content-between" >
        <div class="mt-3">
          <h2><%= @car.brand %>-<%= @car.model %></h2>
          <p><%= @car.address %></p>
          <p><%= @car.description %></p>
        </div>
        <div>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered m-2" />
        </div>
      </div>
        <%= cl_image_tag @car.photo %>
    </div>
    <div class="pl-3 col-4">
      <div class="border p-2">
        <div class="d-flex justify-content-between p-2">
          <p id="price"><%= @car.price %>€/day</p>
          <%= link_to "Book", cars_path, class: "main-cta" %>
        </div>
        <div class="d-flex justify-content-between p-2">
          <p style="font-size:18px;">25/12/2019</p>
          <p>-</p>
          <p style="font-size:18px;">28/12/2019</p>
        </div>
        <div class="d-flex justify-content-between p-2">
          <p style="font-size:20px;">Total:</p>
          <p style="font-size:20px;">90€</p>
        </div>
      </div>
      <div class="side-map">
        <img alt='static Mapbox map of the San Francisco bay area' src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/-122.337798,37.810550,9.67,0.00,0.00/1000x600@2x?access_token=pk.eyJ1IjoibWlyZWlhMTciLCJhIjoiY2szMDhlbG5wMGczaDNoanduODZxYTFjayJ9.WZv88mm_dC7afex37ZL-1w' class="static-map border" >
      </div>
    </div>
  </div>
  <br>
  <%= link_to "Back to all cars", cars_path %>
</div>





