<div class="container">
  <div class="ctas-show-page">
    <%= link_to "Back to all cars", cars_path %>
    <div class="price-button">
      <p id="price"><%= @car.price %>€/day</p>
      <%= link_to "Book", cars_path, class: "main-cta" %>
    </div>
  </div>
  <br>
  <div class="card-trip">
    <%= cl_image_tag @car.photo %>
    <div class="card-trip-infos">
      <div>
        <h2><%= @car.brand %>-<%= @car.model %></h2>
        <p><%= @car.address %></p>
        <p><%= @car.description %></p>
      </div>
    </div>
    <img alt='static Mapbox map of the San Francisco bay area' src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/-122.337798,37.810550,9.67,0.00,0.00/1000x600@2x?access_token=pk.eyJ1IjoibWlyZWlhMTciLCJhIjoiY2szMDhlbG5wMGczaDNoanduODZxYTFjayJ9.WZv88mm_dC7afex37ZL-1w' class="static-map" >
  </div>


</div>





