<div class="container">
  <div class="ctas-show-page">
    <%= link_to "Back to all cars", cars_path, id: "back" %>
    <div class="price-button">
      <p id="price"><%= @car.price %>€/day</p>
      <%= link_to "Book", cars_path, class: "main-cta" %>
    </div>
  </div>
  <br>
  <div class="card-trip">
    <%= cl_image_tag @car.photo %>
    <div class="card-trip-infos">
      <div>
        <h2><%= @car.brand %>-<%= @car.model %></h2>
        <p><%= @car.address %></p>
        <p><%= @car.description %></p>
      </div>
    </div>
  </div>
    <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

</div>





